<script setup>
const props = defineProps({
  comment: Object,
});
</script>

<template>
  <div class="comment-box">
    <p class="comment-author">{{ comment.author }}</p>
    <p class="comment-content">{{ comment.content }}</p>
  </div>
</template>

<style scoped>
.comment-author {
  color: #94a3b8;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.comment-content {
  color: #334155;
  margin: 1rem 0;
}

.comment-box {
  border-radius: 0.25rem;
  border: solid 1px #e2e8f0;
  padding: 1rem;
  margin: 1rem;
}
</style>
