<script setup>
const props = defineProps({
  post: Object,
});
</script>

<template>
  <div>
    <h2 class="post-title">
      <router-link :to="`/post/${post.id}`">{{ post.title }}</router-link>
    </h2>
    <p class="post-author">{{ post.author }}</p>
    <p class="post-content">{{ post.content }}</p>
  </div>
</template>

<style scoped>
.post-id {
  color: #94a3b8;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.post-author {
  color: #94a3b8;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.post-content {
  color: #334155;
  margin: 1rem 0;
}

.post-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #5eead4 0%, #14b8a6 50%);
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}
</style>
