<script setup>
import { onMounted, ref } from "vue";
import PostUi from "../ui/PostUi.vue";
import { GetAllPostsUseCase } from "../usecases/get-all-post.usecase";

const listOfPosts = ref([]);

onMounted(async () => {
  const useCase = new GetAllPostsUseCase();
  const fetchedPosts = await useCase.execute();
  listOfPosts.value = fetchedPosts;
});
</script>

<template>
  <ul class="posts-list">
    <li v-for="post in listOfPosts" :key="post.id">
      <post-ui :post="post"></post-ui>
    </li>
  </ul>
</template>

<style scoped>
.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
</style>
