<script setup>
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";

import CommentUi from "../ui/CommentUi.vue";
import PostUi from "../ui/PostUi.vue";

import { router } from "../router";
import { GetPostDetailUseCase } from "../usecases/get-post-detail.usecase";

const route = useRoute();
const id = route.params.id;
const post = ref(null);

onMounted(async () => {
  const useCase = new GetPostDetailUseCase();
  try {
    const fetchedPost = await useCase.execute(id);
    post.value = fetchedPost;
  } catch (e) {
    router.push("/");
  }
});
</script>

<template>
  <template v-if="post">
    <post-ui :post="post"></post-ui>
    <h2 class="comments-title">Comments:</h2>
    <ul class="commments-list">
      <li v-for="comment in post.comments" :key="comment.id">
        <comment-ui :comment="comment"></comment-ui>
      </li>
    </ul>
  </template>
  <router-link tag="a" to="/" class-active="link">Go back to home</router-link>
</template>

<style scoped>
.comments-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #5eead4 0%, #14b8a6 50%);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

ul {
  margin-bottom: 4rem;
}

a {
  margin-top: 3rem;
  text-decoration: none;
  color: #94a3b8;
  font-weight: 600;
}

a:hover {
  color: #334155;
}
</style>
