<template>
  <main>
    <router-view></router-view>
  </main>
</template>
<style scoped>
main {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
</style>
